.video-player-container video {
    max-width: 100%;
    max-height: 100%;
}

.video-player-container {
    max-width: 100vh; 
    max-height: 100vh;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}