.progress-bar-container {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow-wrap: normal;
}

.progress {
    background-color: #558B2F;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
